body {
	font-family: sans-serif;
	background-color: beige;
}

h1 {
	text-align: center;
}

@media (max-width: 858px) {
 	body {
		font-size: 18px;
	}
	.control-div {
		font-size: 12px;
	}
}

@media (min-width: 858px) {
 	body {
		font-size: 30px;
	}
	.control-div {
		font-size: 20px;
	}
}

.noselect {
	-webkit-touch-callout: none;	/* iOS Safari */
	-webkit-user-select: none;		/* Chrome/Safari/Opera */
	-khtml-user-select: none;		/* Konqueror */
	-moz-user-select: none;			/* Firefox */
	-ms-user-select: none;			/* IE/Edge */
	user-select: none;
}

.nobreak {
	white-space: nowrap;
	display: inline-block;
}

/*style of the game tiles*/
.game-div {
	border: 1px solid black;
	display: inline-block;
	width: 4em;
	height: 3em;
	margin: 0.2em;
}

.control-div {
	border: 2px solid black;
	display: inline-block;
	text-align: center;
	width: 12em;
	height: 3em;
	margin: 0.2em;
}

.notouch .game-div:hover , 
.notouch .control-div:hover , 
.notouch .answer-div:hover , 
.hover-style {
	border-style: dotted;
	background-color: wheat;
	cursor: default;
}

/*center the game tiles*/
#the-game {
	-moz-user-select: none;
	text-align: center;
	line-height: 1em;
	margin-bottom: 3em;
	padding:1em;
}

#the-game .game-div:first-of-type {
	margin-left: auto;
}

#the-game .game-div:last-of-type {
	margin-left: auto;
}


/*style of the answer tiles*/
.answer-div {
	border: 2px solid black;
	display: inline-block;
	width: 8em;
	height: 3em;
	margin: 0.1em;
}

/*center the answer tiles*/
#the-answers {
	text-align: center;
	margin-top: 3em;
}

#the-answers .answer-div:first-of-type {
	margin-left: auto;
}

#the-answers .answer-div:last-of-type {
	margin-left: auto;
}


/*control descriptors*/
.control-descriptor {

	display: inline;
}
